html {
    font-family:sans-serif;
    font-size:11pt;
}
body {
    width:50%;
}
h1 {
    font-size:14pt;
    border: 1px dashed black;
    padding:10px;
}
.info {
    
    color:grey;
    font-style:italic;
    padding:5px;
    margin-left:35px;
    margin-bottom:10px;
    border: 1px dotted grey;  
}
.infoi {
    font-size:16pt;
    font-style:oblique;
    font-family:serif;
    padding-right:10px;
    padding-left:5px;
    color:black; 
}
.ct {
    float: right;
    padding:0px;
    margin:-5px;
}
.locs {
    margin-left:35px;
    padding:5px;
    padding-left:10px;
    border-top:1px dotted grey;
    border-left:1px dotted grey;
}
.locs b {
    padding-right:15px;
}


